<div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <form [formGroup]="attendanceForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
          <div class="form-group">
            <label for="present">Present</label>
            <input type="checkbox" class="form-check-input" id="present" formControlName="present">
          </div>
          <div class="form-group">
            <label for="absent">Absent</label>
            <input type="checkbox" class="form-check-input" id="absent" formControlName="absent">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="attendanceForm.invalid">Submit</button>
        </form>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-8">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Present</th>
              <th>Absent</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let att of attendance | keyvalue">
                <td>Name: {{ att.value.name }} </td>
                <td>Present: {{ att.value.present }} </td>
                <td>Absent: {{ att.value.absent }}</td>
              <td><button class="btn btn-danger" (click)="deleteAttendance(att.key)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  